<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ulster.michaelcoey.localamenitiesapplication">
    <!-- Permission settings for internet access, dialer access and location access -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Google Maps API Key Setup -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Area_Activity" />
        <activity android:name=".AntrimMenu_Activity" />
        <activity android:name=".ArdsAndNorthDownMenu_Activity" />
        <activity android:name=".ArmaghBanbridgeCraigavonMenu_Activity" />
        <activity android:name=".BelfastCityMenu_Activity" />
        <activity android:name=".CausewayCoastGlensMenu_Activity" />
        <activity android:name=".DerryStrabaneMenu_Activity" />
        <activity android:name=".FermanaghAndOmaghMenu_Activity" />
        <activity android:name=".LisburnAndCastlereaghMenu_Activity" />
        <activity android:name=".MidEastAntrimMenu_Activity" />
        <activity android:name=".MidUlsterMenu_Activity" />
        <activity android:name=".NewryMourneDownMenu_Activity" />
        <activity android:name=".MainMenu_Activity" />
        <activity android:name=".AntrimCouncilInformation_Activity" />
        <activity android:name=".AntrimTouristInformation_Activity" />
        <activity android:name=".ArdsNorthdownCouncilInformation_Activity" />
        <activity android:name=".ArmaghBanbridgeCraigavonCouncilInformation_Activity" />
        <activity android:name=".BelfastCityCouncilInformation_Activity" />
        <activity android:name=".CausewayCoastGlensCouncilInformation_Activity" />
        <activity android:name=".DerryStrabaneCouncilInformation_Activity" />
        <activity android:name=".FermanaghOmaghCounciInformation_Activity" />
        <activity android:name=".LisburnAndCastlereaghCouncilInformation_Activity" />
        <activity android:name=".MidEastAntrimCouncilInformation_Activity" />
        <activity android:name=".MidUlsterCouncilInformation_Activity" />
        <activity android:name=".NewryMourneDownCouncilInformation_Activity" />
        <activity android:name=".ArdsNorthDownTouristInformation_Activity" />
        <activity android:name=".ArmaghBanbridgeCraigavonTouristInformation_Activity" />
        <activity android:name=".BelfastCityTouristInformation_Activity" />
        <activity android:name=".CausewayCoastGlensTouristInformation_Activity" />
        <activity android:name=".DerryStrabaneTouristInformation_Activity" />
        <activity android:name=".FermanaghOmaghTouristInformation_Activity" />
        <activity android:name=".LisburnAndCastlereaghTouristInformation_Activity" />
        <activity android:name=".MidEastAntrimTouristInformation_Activity" />
        <activity android:name=".MidUlsterTouristInformation_Activity" />
        <activity android:name=".NewryMourneDownTouristInformation_Activity"></activity>

    </application>
</manifest>